@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

:root {
    --dark-color: #212121;
    --light-color:#fafafa;
    --accent-color: #881337
}

body {
    color: var(--light-color);
    background: var(--dark-color);
    font-family: 'Kdam Thmor Pro'
}

